.drop-downs {
    display: flex;
    justify-content: space-between;
}

.drop-down-details {
    margin-top: 15px;
    background: #FF6060;
    border-radius: 10px;
    width: 582px;
    height: 52px;
}

.drop-down-details img {
    margin-right: 18px;
    width: 2%;
    cursor: pointer;
}

.drop-down-details h2 {
    margin-left: 18px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.drop-down-text {
    display: none;
    height: 249px;
    padding-top: 10px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
    color: #FF6060;
    background: #F7F7F7;
    border-radius: 10px;
    margin-left: 0rem;
    margin-top: -22px;
}

.equipment {
    margin-bottom: -15px;
}