footer {
    position: relative;
    background: #000000;
    height: 120px;
    text-align: center;
    padding-top: 4rem;
    margin-top: 18rem;
}

footer img {
    width: 100px;
}

footer h3 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
}
